* {
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.topnavbar li{
    list-style: none;
}

.img-bg{
    background-image: url("img/hero-background.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.topnav-links{
    color: white;
    text-decoration: none;
}

.topnav-links:hover{
    color: violet;
    text-decoration: underline;
}

.topnavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    margin: 0 20px;
    

}

.topnavbar .logo{
    width: 10%;
}

.topnavbar .logo img{
    width: 100%;
    height: 100%;
}


.topnavbar .link{
    width: 70%;
    display: flex;
    align-items: center;
   
    
}

.topnavbar .link ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20px;
    
    
}


.topnavbar .link li {
    color: white;
    display: inline-flex;
    
    
}


.topnavbar .icon-right{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.topnavbar .icon-right img{
    height: 40px;
    
}


.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header_container_block{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header_button_container{
    display: flex;
    justify-content: center;
}

.header_text h1{
    font-size: 50px;
    color: white;
    text-align: center;
}

.header_text p{
    font-size: 20px;
    color: white;
    text-align: center;
}

.header_button_container .offre{
    border-color: blueviolet;
    background: rgb(143,0,255);
    color: white;
    height: 40px;
    width: 110px;
}
.header_button_container .contactez{
    border-color: blueviolet;
    background-color: transparent;
    color: white;
    width: 110px;
    margin-left: 10px;
}
.record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.violet {
    display: flex;
    flex-direction: column;
    background-color: #A568E7;
    padding-top: 100px;
    width: 600px;
    height: 600px;
    margin: 100px;
}

.record-image {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 480px;
    left: -180px;
    width: 100px;
    height: 150px;
    margin: 30px;

}

.record-paragraphe {
    position: relative;
    right: -250px;
    bottom: -300px;
}

h3 {
    
    font-size: 4rem;
    text-transform: uppercase;
}

h4 {
    font-size: 4rem;
    text-transform: uppercase;
}

.record-texte-bottom {
    position: relative;
    top: -30px;
    left: -290px;
}

.fleche {
    position: relative;
    top: -20px;
    left: 80px;
}
.colortxt {
    
    color: white;
}
/*Média query*/

@media screen and (min-width: 1845px){
    .record {
        width: 100%;
    }
}
@media screen and (min-width: 1440px){
    .record {
        width: 100%;
    }
}
@media screen and (max-width: 1010px){
    .record-paragraphe {
        top: 160px;
        left: 20px;
    }
    .record-texte-bottom {
        top: -110px;
        left: 60px;
    }
    
}
@media screen and (max-width: 768px){
    .violet img{
        height: auto;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 575px){
    .violet img {
        width: 100%;
    }

    .record-image {
        top: 380px;
        left: 10px;
    }

    .record-paragraphe {
        top: 110px;
    }

    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 2rem;
    }

}
@media screen and (max-width: 425px) {
    .record-image {
        top: 330px;
        left: 0px;
    }
    
    .violet img {
        width: 100%;
    }

    .record-paragraphe {
        top: 100px;
    }
    
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    .record-texte-bottom {
        top: -100px;
        left: 20px;
    }
}
@media screen and (max-width: 375px) {
    .record-image {
        height: 90px;
        top: 270px;
    }
    .violet img {
        width: 100%;
        height: 150px;
    }
    .record-texte-bottom {
        top: -100px;
        left: 45px;
    }
}

/* CATEGORY CONTAINER */
.category-container {
    width: 100%;
    height: 600px;
}

/* CARTE CATEGORIE */
.category-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-category {
    position: relative;
    width: 550px;
    height: 197px;
    top: 75px;
    left: 26px;

}

.txt-type-category {
    background-color: #A568E7;
    border-radius: 10px;
    width: 600px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 175px 0px 10px 0px;
}

/* CARTE CATEGORIE */

/* CSS POUR CAROUSEL ACCUEIL */
.gallery {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}

.active {
    scroll-snap-type: unset;
}

.li-carousel {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
    font-size: 0;
}

/* CSS POUR CAROUSEL ACCUEIL */
/* CATEGORY CONTAINER */
/* CSS Footer */

.footer_container {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 350px;
}

.img-fond-footer {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 1;
    border-radius: 100%;
}

.img-fond-footer img {
    width: 100%;
    height: 100%;
}


/* container TOP */

.top_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    margin: 20px;
}


/* section Reseaux */
.reseaux_nav_barre {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_networks {
    display: flex;
    flex-direction: column;
}

.titre_social_networks {
    margin-left: 58px;
}

.logo_social_networks {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.logo_social_networks img {
    margin-left: 50px;
}

.nav_barre_footer {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 50px;
}

.nav_barre_footer ul {
    display: flex;
    flex-direction: row;
}

.nav_barre_footer li {
    list-style: none;
    margin-left: 40px;
}

.nav_barre_footer a {
    text-decoration: none;
    color: white;
}



/* section logo + localisation */

.logo_localisation {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin: 0 40px 40px 0;
    font-size: 0.8rem;
}

.logo_footer {
    height: 100px;
    width: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.logo_footer img {
    height: 100%;
}

.localisation_footer {
    text-align: end;
}

.localisation_footer p {
    margin-left: 50px;
}

.localisation_footer a {
    color: white;
    list-style: none;
    text-decoration: none;
}


/* section bot container */

.bot_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.privacy_condition {
    width: 50%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    margin-left: 20px;
}

.privacy_condition ul {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.privacy_condition li {
    list-style: none;
    padding-left: 20px;
}

.privacy_condition a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .footer_container {
        width: 100%;
        height: auto;
    }

    .img-fond-footer {
        height: 80%;
        width: auto;
    }


    /* container TOP */

    .top_container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: initial;
        text-align: center;
    }


    /* section Reseaux */
    .reseaux_nav_barre {
        width: 100%;
    }

    .social_networks {
        display: flex;
        flex-direction: column;
    }

    .titre_social_networks {
        margin-left: initial;
        text-align: center;
    }

    .logo_social_networks {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .logo_social_networks img {
        margin-left: initial;
        display: flex;
        flex-wrap: wrap;
    }

    .nav_barre_footer {
        width: 100%;
        margin: initial;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav_barre_footer ul {
        width: 100%;
        justify-content: space-evenly;
        margin: initial;
        flex-wrap: wrap;
        padding: initial;
    }

    .nav_barre_footer li {
        margin-left: initial;
    }


    /* section logo + localisation */

    .logo_localisation {
        width: 100%;
        align-items: center;
        margin: initial;
        margin-top: 50px;
    }

    .logo_footer {
        height: 150px;
        width: 100%;
        justify-content: center;
    }

    .localisation_footer {
        text-align: center;
        font-size: 1rem;
    }

    .localisation_footer p {
        margin-left: initial;
        flex-wrap: wrap;

    }


    /* section bot container */

    .bot_container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: initial;
        margin-top: 50px;
        padding-bottom: 40px;
    }

    .privacy_condition {
        width: 100%;
        margin-left: initial;
        align-items: center;
        justify-content: center;
    }


    .privacy_condition ul {
        flex-wrap: wrap;
        padding: initial;
    }

}




/* formulaire container page contact */

.formulaire_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.formulaire_titre_contact {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.formulaire_contact_option_1 {
    border: solid 5px #A568E7;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
}

.formulaire_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
    padding: 50px 0;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #a568e7;
    color: white;
    font-size: 1.5rem;
}

.formulaire_container h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}



.formulaire_choix_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.formulaire_choix_1.open {
    display: none;
}

.items_input {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.items_input input {
    list-style: none;
    background: transparent;
    border: 0;
    outline: none;
    padding: 20px 10px 10px 0;
    border-bottom: 1px solid black;
    color: white;
    font-size: 1rem;
}

.items_input input::placeholder {
    color: white;
}

.items_input textarea::placeholder {
    color: white;
}



.button_suivant {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 100px;
}

.button_suivant button {
    background-color: #8f01ff;
    background-image: linear-gradient(90deg, #8f01ff 0%, #b85eff 68%);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 10%;
    align-items: center;
    cursor: pointer;
}

.items_formulaire {
    margin: 20px 80px;
}


.formulaire_choix_2 {
    display: none;
    align-items: center;
}

.button_suivant_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button_suivant_2 button {
    background-color: #8f01ff;
    background-image: linear-gradient(90deg, #8f01ff 0%, #b85eff 68%);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 10%;
    align-items: center;
    cursor: pointer;
}

.formulaire_choix_2.open {
    display: block;
}


.formulaire_choix_3 {
    display: none;
    align-items: center;
}

.button_envoyer {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button_envoyer input {
    background-color: #8f01ff;
    background-image: linear-gradient(90deg, #8f01ff 0%, #b85eff 68%);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 10%;
    align-items: center;
    cursor: pointer;
}

.items_formulaire select {
    list-style: none;
    background: transparent;
    border: 0;
    outline: none;
    padding: 22px 10px 10px 0;
    border-bottom: 1px solid black;
    resize: none;
    color: white;
    font-size: 1rem;
}

.items_formulaire select option {
    color: black;
}

.items_input textarea {
    list-style: none;
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid black;
    resize: none;
    font-size: 1rem;
}


.formulaire_choix_3.open2 {
    display: block;
}


@media screen and (max-width: 768px) {

    .formulaire_container {
        font-size: 1.5rem;
        width: 100%;
    }

    .items_input {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .items_formulaire {
        margin: initial;
        margin: 20px 0;
    }

    .formulaire_titre_contact {
        font-size: 2rem;
    }

    .formulaire_contact_option_1 {
        padding: 30px;
    }
}












/* Section carousel */
.carousel {
    width: 100%;
    height: 100vh;
    background-image: url(img/hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

div#slider {
    width: 100%;
    max-width: 1000px;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

div#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}

div#slider {
    width: 100%;
    max-width: 1000px;
    overflow: hidden
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
/* section description Katana 15 B12V */


.section_katana{
    display: flex;
    justify-content: center;
    background-color: #1E1E1E;
    height: 50vh;
    
}

.description_container_katana{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url("img/background_katana15.jpg");
    background-size: cover  ;
    width: 80%;
    margin-top: 30px;
   
}

.katana_sharpen_container{
    margin-bottom: 30px;
}


.katana_sharpen_container h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.section_katana p{
    font-size: 12px;
    width: 90%;
    margin: 15px;
}

.button_katana{
    width: 100px;
    height: 30px;
    background-color: brown;
    border-top: 0.5px brown;
    border-bottom: 0.5px brown;
    border-right: 2px solid red;
    border-left: 2px solid red;

}



@media screen and (max-width: 768px) {
    


    .katana_sharpen_container h1{
        font-size: 30px;

    }

    .katana_sharpen_container h2{
        font-size: 20px;  
    }

    .section_katana p{
        font-size: 10px;
        width: 90%;
    }

    .description_container_katana{
        justify-content: center;
    }
  }

/* Fin section description Katana 15 B12V */
